<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nutrihawk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="com.example.nutrihawk.HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.nutrihawk.StatusActivity"
            android:label="@string/check_status_menu_text" >
        </activity>
        <activity
            android:name="com.example.nutrihawk.SpecificNutrientActivity"
            android:label="@string/specific_nutrient_menu_text" >
        </activity>
        <activity
            android:name="com.example.nutrihawk.AddNutrientActivity"
            android:label="@string/add_nutrient_menu_text" >
        </activity>
        <activity
            android:name="com.example.nutrihawk.FoodSourcesActivity"
            android:label="@string/food_sources_menu_text" >
        </activity>
        <activity
            android:name="com.example.nutrihawk.FoodCategoryActivity" >
        </activity>
    </application>

</manifest>
